* {
  box-sizing: border-box;
}


html {
  background-image: url("digital.gif")
}

#title {
  font-size: 32pt;
}

body {
  font-size: 36px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #111;
  margin: 0;
  padding: 20px 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: inline-block;
  outline: 0;
  border: none;
  box-shadow: none;
  cursor: pointer;
  margin:0px;
  padding: 18px 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  background: black;
  transition: transform .2s ease;
}

button:active {
  transform: scale(0.92);
}

iframe {
  margin: 0px;
  width: 100%;
  height: auto;
  min-height: 350px;
}

#tv {
  margin-bottom: 30px;
}

#channels {
  display: flex;
  gap: 10px;
}